@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .photo:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 0 2px #ffffff;
        z-index: 2;
    }
    .photo:after {
        content: "";
        display: block;
        padding-top: 83.3333%; /* Pour un ratio de 5:6 */
    }
    .photoset.square .photo:after {
        padding-top: 100%; /* Ratio 1:1 pour carré */
    }
    .photoset.portrait .photo:after {
        padding-top: 120%; /* Ratio portrait */
    }
}
